<app-main-navbar></app-main-navbar>
<div style="text-align:center">
  <h1>
    Welcome to Digital Library!
  </h1>
</div>

<h2>Users: </h2>
<ul *ngIf="(users$ | async)?.length">
  <li *ngFor="let user of users$ | async">
    {{ user.name }}
  </li>
</ul>
<h4 *ngIf="!((users$ | async)?.length)">
  No users!
</h4>

<hr>

<h2>Resources: </h2>
<ul *ngIf="(resources$ | async)?.length">
  <li *ngFor="let user of resources$ | async">
    {{ user.name }}
  </li>
</ul>
<h4 *ngIf="!((resources$ | async)?.length)">
  No resources!
</h4>